
body {
background: linear-gradient(black, white);
text-align: left;
}

#title {
	border: 1px solid black;
	width: 50%;
	margin: auto;
	background-color: #ebebe0;
	text-shadow: 2px 2px grey;
	padding: 30px;
	color: black;
}

#main {
	border: 2px solid black;
	width: 70%;
	margin: auto;
	background-color: #d9d9d9;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top:10px;
}



			
			

		
