
body {
background: linear-gradient(blue, white);
text-align: left;
}

#title {
	border: 1px solid black;
	width: 38%;
	margin: auto;
	background-image; https://lh3.googleusercontent.com/RjxBl67S_11VT11lBRsPTJn6MTUfAFgRwy6WL0vrpM1iUlVRYUS_domm__TagUpq8XdR=w300
	text-shadow: 2px 2px grey;
	padding: 30px;
	color: black;
}

#main {
	border: 2px solid black;
	width: 40%;
	margin: auto;
	background color: #DEB887;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top:10px;
}



			
			

		
