
body {

background-color: lightblue;
color: white;
text-align: left;
}

#title {
	border: 1px solid black;
	width: 38%;
	margin: auto;
	background-color: #FAEBD7;
	padding: 30px;
}

#main {
	width: 40%;
	margin: auto;
	background color: #FAEBD7;
	padding: 20px;
}



			
			

		
