
body {
background-image:  url(IMG_5275.JPG);
text-align: left;
}

#title {
	border: 3px solid black;
	width: 50%;
	margin: auto;
	background-image:  url(IMG_5275.JPG);
	text-shadow: 2px 2px grey;
	padding: 30px;
	color: black;
}

#main {
	border: 2px solid black;
	width: 70%;
	margin: auto;
	background-image:  url(IMG_5275.JPG);
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top:10px;
}
